<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olimpiadas del Conocimiento</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
</head>
<body>
    <div class="app-content">
        {% block body %}{% endblock %}
    </div>
    {% include "includes/footer.html" %}
    {% block vendor_scripts %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
